#version=RHEL8
# Use text mode install
text

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%packages
@^minimal-environment
kexec-tools

%end

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=env32 --gateway=129.40.242.126 --ip=129.40.242.82 --nameserver=129.40.242.1 --netmask=255.255.255.192 --ipv6=auto --no-activate
network  --hostname=rhel89

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx

ignoredisk --only-use=mpatha,sda,sdb
# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=mpatha
autopart
# Partition clearing information
clearpart --all --initlabel --drives=mpatha

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$6v6w/rnFwTjI8L4D$WkZ0SgnUdJu4tZXASjV5N/iTPN5wBDpgZSF/RO.P.TMd77E.hr09EVilhbcKupZAiWIF1heK8uIOdQ/feRRAT0

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
